<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestor de Tareas</title>
  <link rel="stylesheet" href="/assets/styles/pantallas.css">
</head>
<body>
  <!-- NAVBAR SUPERIOR -->
  <header class="header">
    <div class="left-section">
      <div class="logo-box-todo">
        <a href="/index.html">
          <img src="/assets/img/logo.png" width="30" alt="logo_tareas" class="logo">
        </a>
      </div>

      <div class="tab-container">
        <h2 class="tab">Pestaña 1</h2>
        <button class="add-tab">+</button>
      </div>
    </div>

    <div class="user-info">
      <h3>Zahir Fernando</h3>
      <div class="profile-circle">Z</div>
      <a href="/index.html">
        <img src="/assets/img/cerrarsesion.png" alt="cerrar sesión">
      </a>
    </div>
  </header>


  <!-- MENÚ LATERAL -->
  <nav class="sidebar">
    <a href="/tableros.html">Tableros <img src="/assets/img/flecha.png"></a>
    <a href="/tareas.html">Tareas <img src="/assets/img/flecha.png"></a>
    <a href="/reportes.html">Reportes <img src="/assets/img/flecha.png"></a>
    <a href="/usuarios.html">Usuarios <img src="/assets/img/flecha.png"></a>
    <a href="/perfil.html">Perfil <img src="/assets/img/flecha.png"></a>
  </nav>

  <!-- CONTENIDO PRINCIPAL -->
  <main class="main-content">
    <h2>Bienvenido a <span class="task-blue">Task</span>Colab</h2>
    <p>¡Bienvenido a tu espacio de trabajo, Zahir Fernando!</p>
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <p>© 2025 Task<span class="task-black">Colab</span> - Todos los derechos reservados.</p>
  </footer>
</body>
</html>
