<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestor de Tareas</title>
  <link rel="stylesheet" href="/assets/styles/pantallas.css">
</head>
<body>
  <!-- NAVBAR SUPERIOR -->
  <header class="header">
    <div class="left-section">
      <div class="logo-box-todo">
        <a href="/index.html">
          <img src="/assets/img/logo.png" width="30" alt="logo_tareas" class="logo">
        </a>
      </div>

      <div class="tab-container">
        <h2 class="tab">Pestaña 1</h2>
        <button class="add-tab">+</button>
      </div>
    </div>

    <div class="user-info">
      <h3>Zahir Fernando</h3>
      <div class="profile-circle">Z</div>
      <a href="/index.html">
        <img src="/assets/img/cerrarsesion.png" alt="cerrar sesión">
      </a>
    </div>
  </header>


  <!-- MENÚ LATERAL -->
  <nav class="sidebar">
    <a href="#" data-section="tableros">Tableros <img src="/assets/img/flecha.png"></a>
    <a href="#" data-section="tareas">Tareas <img src="/assets/img/flecha.png"></a>
    <a href="#" data-section="reportes">Reportes <img src="/assets/img/flecha.png"></a>
    <a href="#" data-section="usuarios">Usuarios <img src="/assets/img/flecha.png"></a>
    <a href="#" data-section="perfil">Perfil <img src="/assets/img/flecha.png"></a>
  </nav>


  <!-- CONTENIDO PRINCIPAL -->
  <main class="main-content">
    <!-- INICIO -->
    <section id="inicio" class="seccion activa">
      <h2>Bienvenido a <span class="task-blue">Task</span>Colab</h2>
      <p>¡Bienvenido a tu espacio de trabajo, Zahir Fernando!</p>
    </section>

    <!-- Sección de tableros -->
    <section id="tableros" class="seccion">
      <h2 class="titulo-tableros">Mis Tableros</h2>
      <div class="contenedor-tableros">
        <div class="columna">
          <h3>Pendiente <button id="btnAñadirPendiente" class="add-card" data-seccion="pendiente">+</button></h3>
          <div class="tarjetas"></div>
        </div>

        <div class="columna proceso">
          <h3>En proceso <button class="add-card" data-seccion="proceso">+</button></h3>
          <div class="tarjetas"></div>
        </div>

        <div class="columna completado">
          <h3>Completado <button class="add-card" data-seccion="completado">+</button></h3>
          <div class="tarjetas"></div>
        </div>
      </div>
    </section>
    <!-- FORMULARIO AÑADIR TARJETA -->
    <section id="formulario-tarjeta" class="seccion">
      <h2 class="titulo">Mis Tableros</h2>

      <div class="form-tarjeta">
        <h3>Añadir Tarjeta - Pendiente</h3>

        <form>
          <label>Título de la tarea</label>
          <input type="text" placeholder="Diseñar encabezado principal">

          <label>Descripción detallada</label>
          <textarea placeholder="Hacer la creación de elementos y estilos para el diseño."></textarea>

          <label>Asignar a:</label>
          <select>
            <option>Ana García</option>
            <option>José Pérez</option>
            <option>María López</option>
          </select>

          <label>Prioridad:</label>
          <select>
            <option>Alta prioridad</option>
            <option>Media prioridad</option>
            <option>Baja prioridad</option>
          </select>

          <label>Fecha límite:</label>
          <input class="date" type="date">


          <div class="botones">
            <button type="button" class="cancelar">Cancelar</button>
            <button type="submit" class="crear">Crear tarjeta</button>
          </div>
        </form>
      </div>
    </section>

    <!-- Sección de confirmación de eliminación -->
    <section id="eliminarTarjeta" class="seccion">
      <div class="alerta-eliminar">
        <h3>Eliminar Tarjeta</h3>
        <img src="/assets/img/alerta.png" alt="Alerta">
        <p>¿Estás seguro de que deseas eliminar esta tarjeta?<br><strong>Esta acción no se puede deshacer.</strong> </p>
        <div class="botones-alerta">
          <button id="cancelarEliminar">Cancelar</button>
          <button id="confirmarEliminar">Eliminar</button>
        </div>
      </div>
    </section>


    <!-- TAREAS -->
    <section id="tareas" class="seccion">
      <h2 class="titulo-tareas">Mis tareas</h2>

      <div class="tabla-contenedor">
        <table class="tabla-tareas">
          <thead>
            <tr>
              <th> <img src="/assets/img/seleccion.png" class="icono-completado" alt="Completado"></th>
              <th>Tarea</th>
              <th>Tablero</th>
              <th>Estado</th>
              <th>Fecha</th>
              <th><img src="/assets/img/icono-usuario.png" class="icono-completado" alt="Completado"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>Diseñar pantalla de login</td>
              <td>UI Principal</td>
              <td>Pendiente</td>
              <td>2025-11-12</td>
              <td>Keyra Yariely Grijalva Ochoa</td>
            </tr>
            <tr>
              <td></td>
              <td>Diseñar pantalla de login</td>
              <td>UI Principal</td>
              <td>Pendiente</td>
              <td>2025-11-12</td>
              <td>Keyra Yariely Grijalva Ochoa</td>
            </tr>
            <tr>
              <td></td>
              <td>Diseñar pantalla de login</td>
              <td>UI Principal</td>
              <td>Pendiente</td>
              <td>2025-11-12</td>
              <td>Keyra Yariely Grijalva Ochoa</td>
            </tr>
            <tr>
              <td></td>
              <td>Diseñar pantalla de login</td>
              <td>UI Principal</td>
              <td>Pendiente</td>
              <td>2025-11-12</td>
              <td>Keyra Yariely Grijalva Ochoa</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>


    <!-- REPORTES -->
    <section id="reportes" class="seccion">
      <h2>Reportes</h2>
      <p>Aquí irán tus reportes.</p>
    </section>

    <!-- USUARIOS -->
    <section id="usuarios" class="seccion">
      <h2>Usuarios</h2>
      <p>Aquí estarán los usuarios del sistema.</p>
    </section>

    <!-- PERFIL -->
    <section id="perfil" class="seccion">
      <h2>Perfil</h2>
      <p>Configuración de usuario.</p>
    </section>

    <section id="cerrarSesion" class="seccion">
      <div class="alerta-eliminar">
        <h3>Cerrar Sesión</h3>
        <img src="/assets/img/alerta.png" alt="Alerta de cierre">
        <p>Por favor confirme que desea cerrar sesión.</p>
        <div class="botones-alerta">
          <button id="cancelarCerrarSesion">Cancelar</button>
          <button id="confirmarCerrarSesion">Confirmar</button>
        </div>
      </div>
    </section>
  </main>

  


  <!-- FOOTER -->
  <footer class="footer">
    <p>© 2025 Task<span class="task-black">Colab</span> - Todos los derechos reservados.</p>
  </footer>

  <script src="/assets/javascript/menu.js"></script>
</body>
</html>
