/* === ESTILOS GENERALES === */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9ff;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 80px;
  height: 100vh;
}

/* === HEADER === */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #0047c3;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-box-todo {
  background-color: #1b5cff;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.logo-box-todo:hover {
  background: #004dcc;
  transform: scale(1.05);
}

.logo {
  width: 100px;
}

/* Pestaña superior */
.tab-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tab {
  background-color: #1b5cff;
  color: #fff;
  padding: 30px 20px;
  border: 3.5px solid #fff;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.add-tab {
  background: none;
  border: none;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  color: #000;
  cursor: pointer;
  transition: color 0.3s;
}
.add-tab:hover {
  color: #0047c3;
}

/* Usuario */
.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-info img {
  width: 70px;
  height: 80px;
  cursor: pointer;
}
.profile-circle {
  width: 50px;
  height: 50px;
  background-color: #1b5cff;
  color: #000;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
/* === SECCIÓN DE INICIO === */
#inicio {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #000;
}

#inicio h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 15px;
}

#inicio p {
  font-size: 22px;
  color: #333;
}
/* === SIDEBAR === */
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-right: 4px solid #1b5cff;
}
.sidebar a {
  background-color: #1b5cff;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.sidebar a:hover {
  background-color: #0047c3;
}
.sidebar img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

/* === CONTENIDO PRINCIPAL === */
.main-content {
  grid-area: main;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.task-blue { color: #007bff; font-weight: 700; }
.task-black { color: #000; }

.seccion { display: none; }
.seccion.activa { display: block; }

/* === SECCIÓN TABLEROS === */
.titulo-tableros {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}

.contenedor-tableros {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

.columna {
  background-color: #1e5eff;
  color: white;
  width: 250px;
  min-height: 500px;
  border-radius: 10px;
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.columna h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 30px;
  margin: 0;
  padding: 10px 0;
  border-bottom: 2px solid white;
  width: 100%;
  text-align: center;
}
.add-card {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}
.add-card:hover {
  transform: scale(1.2);
  color: white;
}
.seccion{
  display: none;
}
.seccion.activa{
  display: block;
}
#inicio.activa {
  display: flex;
}

/* === FORMULARIO TARJETA === */
.titulo {
  font-size: 40px; 
  margin-bottom: auto;
}
.form-tarjeta {
  border: 3px solid #1b5cff;
  border-radius: 10px;
  padding: 20px 30px;
  width: 600px;
  margin: 0 auto;
  background: white;
}

.form-tarjeta h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
  border-bottom: 2px solid #1b5cff;
  padding-bottom: 5px;
}

.form-tarjeta form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-tarjeta label {
  font-weight: bold;
  text-align: left;
}

.form-tarjeta input,
.form-tarjeta textarea,
.form-tarjeta select {
  background: #1b5cff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
}
input::placeholder,
textarea::placeholder {
  color: white;
}
/* Selects un poco más grandes */
select {
  font-size: 18px;
  padding: 10px;
}

.form-tarjeta textarea {
  resize: none;
  color: white;
  height: 80px;
}

.form-tarjeta .botones {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.form-tarjeta .botones button {
  border: none;
  border-radius: 6px;
  padding: 8px 90px;
  font-weight: bold;
  cursor: pointer;
}

.form-tarjeta .cancelar {
  background: #a1b3ff;
  color: #000;
}

.form-tarjeta .crear {
  background: #0052ff;
  color: #fff;
}
.main-content {
  padding-bottom: 60px; /* espacio seguro abajo */
}

.tarjeta {
  background-color: #2897FF;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 220px;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
/* separa las tarjetas de la línea blanca del título */
.columna .tarjetas {
  margin-top: 15px;
}

.tarjeta h4 {
  color:#000;
  margin-top: 3px;
  margin-bottom: 3px;
}

.tarjeta p {
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 2px 0;
}

.icono {
  width: 50px;
  height: 50px;
}

.botones-tarjeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.botones-derecha{
  display: flex;
  gap: 6px;
}
/* === BOTONES === */
.botones-tarjeta button {
  background-color: #0047ff;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  padding: 6px 10px;
  transition: background 0.3s;
}

.botones-tarjeta button:hover {
  background-color: #002fb3;
}

.tarjeta .acciones button {
  background: #003BFF;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
}

.tarjeta .acciones button:hover {
  background: #0047c3;
}
.icono-basura {
  width: 30px;
  height: 35px;
  vertical-align: middle;
  filter: invert(0);
}

.tarjeta .acciones button.eliminar {
  background: #003BFF;
}

.tarjeta .acciones button.eliminar:hover {
  background: #0047c3;
}
.tarjeta{
  margin-bottom: 15px;
}

/* === SECCIÓN ELIMINAR TARJETA === */
#eliminarTarjeta {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#eliminarTarjeta.activa {
  display: flex;
}

.alerta-eliminar {
  background: white;
  border: 4px solid #1b5cff; /* borde azul alrededor */
  border-radius: 12px;
  width: 600px;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.alerta-eliminar h3 {
  font-size: 32px;
  font-weight: bold;
  color: #1b5cff;
  margin: 0 0 10px 0;
  border-bottom: 3px solid #1b5cff; /* línea abajo */
}

.alerta-eliminar img {
  width: 150px;
  height: 150px;
  margin: 15px 0;
}

.alerta-eliminar p {
  color: #333;
  font-size: 20px;
  margin: 10px 0 25px 0;
}

/* Botones */
.botones-alerta {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.botones-alerta button {
  border: none;
  border-radius: 6px;
  padding: 10px 60px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#cancelarEliminar, #cancelarCerrarSesion {
  background: #a1b3ff;
  color: #000;
}

#confirmarEliminar, #confirmarCerrarSesion {
  background: #0052ff;
  color: white;
}

#cancelarEliminar, #confirmarCerrarSesion:hover {
  background: #7f97ff;
}

#confirmarEliminar, #cancelarCerrarSesion:hover {
  background: #003bcc;
}

#cerrarSesion {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#cerrarSesion.activa {
  display: flex;
}


/* === SECCIÓN TAREAS === */
.titulo-tareas{
  font-size: 50px;
}
.tabla-tareas {
  width: 90%;
  margin: 40px auto;
  border-collapse: collapse;
  border: 3.5px solid #007bff;
  background-color: #ffffff;
  color: white;
  font-size: 25px;
  text-align: center;
  min-height: 400px; /* tamaño fijo grande */
}

.tabla-tareas th,
.tabla-tareas td {
  border: 3.5px solid #007bff;
  color:#000;
  padding: 12px;
  vertical-align: middle;
}
.tabla-tareas td{
  font-size: 20px;
}

.tabla-tareas th {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
}

.icono-completado,
.icono-usuario {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.icono-completado:hover {
  transform: scale(1.1);
}

.estado {
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

.estado.pendiente {
  background-color: #e67e22;
}

.estado.en-progreso {
  background-color: #3498db;
}

.estado.completada {
  background-color: #2ecc71;
}

/* asegura altura mínima incluso sin tareas */
.tabla-tareas tbody {
  height: 300px;
}




/* === FOOTER === */
.footer {
  grid-area: footer;
  background-color: #1b5cff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
