<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
    <!-- NAVBAR -->
    <header class="header">
        <div class="logo-box-todo">
            <a href="../index.html"><img src="../assets/img/logo.png" width="30" alt="logo_tareas" class="logo"> </a> 
        </div>

        <nav class="nav-container">
            <div class="nav-links">
                        <a href="../view/tablero.html" >Tableros</a> 
                        <a href="../view/tareas.html">Tareas</a>
                        <a href="../view/usuarios.html">Usuarios</a>
                        <a href="../view/reportes.html">Reportes</a>
                    </div>
            <div class="nav-actions">
            <a href="../view/login.html" class="login">Iniciar sesión</a>
            <a href="../view/registro.html">
                <button class="btn-primary">Registrarse</button>
            </a>
            </div>



            </section>
            </nav>
    </header>
    </body>
</html>